/* Write your CSS here */

.list-btn {
  height: 34px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #c7d2fe;
  background-color: #7c3aed;
  margin-top: 10px;
  color: #d4d2db;
  font-size: 20px;
}
